# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Code coverage profiles and other test artifacts
*.out
coverage.*
!coverage.go
*.coverprofile
profile.cov

# env file
.env
.tmp
.tmp/

# Editor/IDE
# .idea/
# .vscode/

# VS Code extension
node_modules/
out/
dist/
*.vsix
.vscode-test/
